{% extends 'cms/' ~ _theme ~ '/base.twig' %}
{% block extraBodyClass %}page-orms page-models{% endblock %}

{% block css %}
    <link href="{{ preload(asset('build/cms-models.css'), { as: 'style' }) }}" as="style" rel="preload">
    <link type="text/css" href="{{ asset('build/cms-models.css') }}" rel="stylesheet" />
{% endblock %}

{% block js %}
    <link href="{{ preload(asset('build/runtime.js'), { as: 'script' }) }}" as="script" rel="preload">
    <link href="{{ preload(asset('build/cms-models.js'), { as: 'script' }) }}" as="script" rel="preload">
    <script src="{{ asset('build/runtime.js') }}" defer></script>
    <script src="{{ asset('build/cms-models.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Models</h4>
        </div>
        <div class="card-content">
            <div class="bootstrap-table">
                <div class="fixed-table-toolbar">
                    <form method="get">
                        <div class="pull-left search">
                            <input class="form-control js-filter" type="text" placeholder="Keyword" name="keyword" value="{{ filterKeyword }}">
                        </div>
                        <div class="bars pull-left mr-3">
                            <div class="toolbar pl-1">
                                <select class="form-control js-filter" name="modelCategory">
                                    <option value="1" {% if filterModelCategory == 1 %}selected{% endif %}>Customised</option>
                                    <option value="2" {% if filterModelCategory == 2 %}selected{% endif %}>Built in</option>
                                </select>
                            </div>
                        </div>
                        <div class="bars pull-left">
                            <button class="btn btn-default">Go</button>
                        </div>
                    </form>

                    <div class="columns columns-right pull-right">
                        <a href="{{ app.request.pathInfo }}/new{{ returnQuery }}" class="btn btn-primary" type="button" title="Add new"><i class="glyphicon fa fa-plus"></i> New</a>
                    </div>
                </div>

                <div class="fixed-table-container pt-1">
                    {% if not data|length %}
                        <div class="alert alert-default">
                            No results found
                        </div>
                    {% else %}
                        <div class="table-responsive table-full-width">
                            <table class="table table-hover orms-table {% if filterModelCategory == 1 %}js-sortable-container{% endif%} js-data-container" data-class="Model" data-redirect="{{ app.request.pathInfo }}">
                                <thead>
                                <tr>
                                    <th width="250px">Class name</th>
                                    <th>Title</th>
                                    <th width="120px">Type</th>
                                    <th width="180px"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for itm in data %}
                                    <tr id="{{ itm.className }}" data-id="{{ itm.className }}" data-value="{{ itm._status }}" class="{% if filterModelCategory == 1 %}js-sortable-item{% endif%} js-data-item-container">
                                        <td>{{ itm.className }}</td>
                                        <td>{{ itm.title }}</td>
                                        <td>
                                            {% if itm.modelCategory == 1 %}
                                                Customised
                                            {% elseif itm.modelCategory == 2 %}
                                                Built in
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a rel="tooltip" class="js-data-item-button-status btn btn-simple {% if itm._status == 1 %}btn-success{% else%}btn-danger{% endif%} btn-icon table-action edit" href="#" data-original-title="Enable / Disable"><i class="fa fa-circle"></i></a>
                                            <a rel="tooltip" class="btn btn-simple btn-default btn-icon table-action edit" href="{{ app.request.pathInfo }}/{{ itm.className }}{{ returnQuery }}" data-original-title="Edit"><i class="ti-pencil"></i></a>
                                            <a rel="tooltip" class="btn btn-simple btn-default btn-icon table-action copy" href="{{ app.request.pathInfo }}/copy/{{ itm.className }}{{ returnQuery }}" data-original-title="Copy"><i class="ti-files"></i></a>
                                            <a rel="tooltip" class="js-data-item-button-delete btn btn-simple btn-danger btn-icon table-action remove" href="#" data-original-title="Remove"><i class="ti-close"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}