<!DOCTYPE html>
<html>
    <head></head>

    <body>

        <main style="font: 1rem 'Helvetica Neue', Arial, sans-serif; line-height: 1.6; max-width: 37.5rem; display: block;">
            <h1 style="font-size: 1.2rem">{{ _formBuilder.title }}</h1>
        
            <strong>Email ID:</strong> #{{ _submission.uniqueId }}<br />
            <strong>Date:</strong> {{ _submission.date|date("d/m/Y") }}
        
            <hr style=" border: none;
                        border-top: 1px solid #e5e5e5;
                        margin: 1.5rem 0;" />
        
            <ul style="margin: 0 0 0 2rem; padding: 0;">
                {% for idx, itm in _submission.content|json_decode %}
                    <li style="margin-bottom: .2rem;"><strong>{{ itm.0 }}</strong> {{ itm.1|raw }}</li>
                {% endfor %}
            </ul>

            <ul style="margin: 0 0 0 2rem; padding: 0; color: #666;">
                <li style="margin-bottom: .2rem;"><strong>URL:</strong> {{ _submission.url }}</li>
                <li style="margin-bottom: .2rem;"><strong>IP:</strong> {{ _submission.ip }}</li>
                <li style="margin-bottom: .2rem;"><strong>Country:</strong> {{ _submission.country }}</li>
            </ul>
        
            <hr style=" border: none;
                        border-top: 1px solid #e5e5e5;
                        margin: 1.5rem 0;" />
        
            <small>{{ getenv('PROJECT_NAME') }} &copy; {{ 'now'|date('Y') }}</small>
        </main>

    </body>
</html>
                              