{% extends 'cms/' ~ _theme ~ '/core/orm.twig' %}
{% block extraBodyClass %}{{ parent() }} page-contentblock-default{% endblock %}

{% block css %}
    <link href="{{ preload(asset('build/cms-contentblock-default.css'), { as: 'style' }) }}" as="style" rel="preload">
    <link type="text/css" href="{{ asset('build/cms-contentblock-default.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
    <script>
        window._blockTags = {{ dbService.active('ContentBlockTag')|json_encode|raw }};
    </script>

    <link href="{{ preload(asset('build/runtime.js'), { as: 'script' }) }}" as="script" rel="preload">
    <link href="{{ preload(asset('build/cms-contentblock-default.js'), { as: 'script' }) }}" as="script" rel="preload">
    <script src="{{ asset('build/runtime.js') }}" defer></script>
    <script src="{{ asset('build/cms-ontentblock-default.js') }}" defer></script>
{% endblock %}

{% block formWidgets %}
    {{ form_row(formView.title) }}
    {{ form_row(formView.dataType) }}
    {{ form_row(formView.attr) }}

    <div class="orm-widget orm-widget-full form-group js-contentblock-default-container mb-5">
        <button type="button" class="btn btn-sm pull-right js-contentblock-default-add">Add</button>
        {{ form_label(formView.content) }}
        {{ form_widget(formView.content, {attr: {style: 'display: none;'}}) }}

        <table class="table js-contentblock-default-table" style="display: none;">
            <thead>
            <tr>
                <th width="300">Title</th>
                <th width="300">ID</th>
                <th>Tags</th>
                <th width="50">&nbsp;</th>
            </tr>
            </thead>
        </table>

        <div class="mt-1 alert alert-default js-contentblock-default-noresult" style="display: none;">
            No data added
        </div>
        {{ form_errors(formView.content) }}
    </div>
{% endblock %}
